# Dependencies
node_modules/
package-lock.json

# Environment Variables
.env
.env.local
.env.development
.env.production

# Build output
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
coverage/
.nyc_output/

# Misc
*.pem
.cache
temp/
tmp/